/javaee-playground/javaee-playground-domain/target/
/javaee-playground/javaee-playground-core/target/
/javaee-playground/javaee-playground-web/target/
/javaee-playground/javaee-playground-ear/target/